@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Roboto Condensed:400,700");
/*********************
basic styles
*********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  max-width: 100%; }

body {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.6; }

.subheadings {
  color: #FB3D3D;
  font-family: 'Roboto Condensed';
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 4px;
  padding-bottom: 20px; }
  @media (max-width: 768px) {
    .subheadings {
      padding-top: 20px; } }

.container {
  width: 90%; }

/********************
slider
*********************/
.banner_slider {
  position: relative;
  height: 100vh; }
  .banner_slider .slick-next {
    background: #212121 url("../assets/Icons/chevron-right@2x.png") center center no-repeat;
    font-size: 0px;
    background-size: 20%;
    border: 0px;
    width: 40px;
    height: 73px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -36px;
    transform: scaleX(-1);
    z-index: 10; }
    @media (max-width: 768px) {
      .banner_slider .slick-next {
        margin-top: -170px; } }
  .banner_slider .slick-prev {
    background: #212121 url("../assets/Icons/chevron-right@2x.png") center center no-repeat;
    font-size: 0px;
    background-size: 20%;
    border: 0px;
    width: 40px;
    height: 73px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -36px;
    z-index: 10; }
    @media (max-width: 768px) {
      .banner_slider .slick-prev {
        margin-top: -170px; } }

/*********************
nav
*********************/
nav {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  position: absolute;
  z-index: 10; }
  @media (max-width: 768px) {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px;
      align-items: center; } }
  nav .logo {
    margin: 20px 30px; }
    nav .logo img {
      height: 35px; }
  nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap; }
    nav ul li a {
      color: gray;
      font-size: 1rem;
      font-family: 'Roboto Condensed';
      margin-left: 60px;
      text-decoration: none;
      text-transform: uppercase; }
      nav ul li a:hover {
        color: #fff;
        border-bottom: 1px solid #FB3D3D;
        padding: 10px;
        transition: 0.4s ease; }
  nav .btn {
    background: #212121;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    letter-spacing: 2px; }
    @media (max-width: 768px) {
      nav .btn {
        padding: 0px; } }
    nav .btn:hover {
      background: #FB3D3D;
      border: none;
      padding: 20px; }

/*********************
header
*********************/
header {
  height: 120vh; }
  @media (max-width: 768px) {
    header {
      height: 50vh; } }
  header hgroup {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    padding: 250px 0 0 150px;
    position: absolute;
    z-index: 10; }
    @media (max-width: 768px) {
      header hgroup {
        padding: 150px; } }
    header hgroup h1 {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: normal; }
      @media (max-width: 768px) {
        header hgroup h1 {
          font-size: 1.5rem; } }
    header hgroup .vl {
      border-left: 2px solid #FB3D3D;
      height: 70px;
      position: absolute;
      margin-top: 270px;
      margin-left: 20px;
      padding-right: 10px; }
      @media (max-width: 768px) {
        header hgroup .vl {
          margin-top: 150px; } }
    header hgroup h4 {
      font-size: 0.9rem;
      font-weight: 400;
      color: #d3d3d3;
      letter-spacing: 1px;
      margin-left: 50px;
      line-height: 2;
      padding-top: 30px; }
      @media (max-width: 768px) {
        header hgroup h4 {
          font-size: 0.5rem;
          padding-top: 10px; } }

/*********************
about
*********************/
.about {
  display: flex;
  padding: 50px 0;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .about {
      padding: 0; } }
  .about .row {
    display: flex;
    padding: 0 120px 0 150px; }
    @media (max-width: 768px) {
      .about .row {
        padding: 20px;
        margin-top: 20px; } }
    .about .row .col:first-child {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .about .row .col:first-child p {
        position: absolute;
        height: 520px;
        background: #212121;
        z-index: -1;
        color: gray;
        padding: 470px 40px 0 40px;
        font-size: 14px;
        font-style: italic; }
    .about .row .col:last-child {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 100px; }
      .about .row .col:last-child h2 {
        font-size: 2.7rem;
        padding-bottom: 30px;
        line-height: normal; }
        @media (max-width: 768px) {
          .about .row .col:last-child h2 {
            font-size: 1.5rem; } }
      .about .row .col:last-child h4 {
        font-size: 1.3rem;
        font-weight: 300;
        padding-bottom: 20px; }
        @media (max-width: 768px) {
          .about .row .col:last-child h4 {
            font-size: 0.8rem; } }
      .about .row .col:last-child p {
        color: gray; }
        @media (max-width: 768px) {
          .about .row .col:last-child p {
            font-size: 0.8rem; } }

/*********************
featured
*********************/
.featured {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), black), url(../assets/Img/section-banner-1920.jpg);
  background-position: center;
  background-size: auto;
  height: 70vh; }
  @media (max-width: 768px) {
    .featured {
      background-size: cover; } }

.featured-text {
  padding-top: 100px;
  padding-left: 100px;
  margin-bottom: 0; }
  .featured-text h2 {
    font-size: 2.5rem;
    color: #fff; }
    @media (max-width: 768px) {
      .featured-text h2 {
        font-size: 1.5rem; } }
  .featured-text h4 {
    font-size: 1 rem;
    font-weight: 400;
    color: #d3d3d3; }

.featured-details {
  display: flex;
  padding: 100px;
  margin-top: -50px;
  line-height: 30px; }
  @media (max-width: 768px) {
    .featured-details {
      margin: -100px 0 100px 0; } }
  .featured-details .col {
    margin-right: 20px;
    background: rgba(140, 140, 140, 0.4);
    width: 13%;
    text-align: center;
    color: #fff;
    padding: 10px 0; }
    .featured-details .col h4 {
      font-weight: 300;
      letter-spacing: 2px;
      padding: 10px 0;
      font-size: 0.8rem; }
      @media (max-width: 768px) {
        .featured-details .col h4 {
          font-size: 0.4rem; } }
    .featured-details .col h4:last-child {
      font-style: italic; }
    .featured-details .col h2 {
      font-size: 2rem;
      font-weight: 400; }
      @media (max-width: 768px) {
        .featured-details .col h2 {
          font-size: 1rem; } }

/*********************
products
*********************/
.products {
  text-align: center;
  padding: 100px; }
  .products h2 {
    font-size: 2.5rem;
    padding: 30px; }
  .products .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0; }
    .products .row .col {
      flex: 0 0 22%;
      border: 1px solid #f0eaea;
      border-radius: 2px;
      padding-right: 30px;
      padding-top: 20px;
      min-height: 400px; }
      @media (max-width: 768px) {
        .products .row .col {
          flex: 0 0 100%; } }
      .products .row .col ul li {
        list-style: none;
        text-align: justify;
        font-size: 0.9rem;
        padding-left: 60px;
        line-height: 40px;
        color: gray; }
        @media (max-width: 768px) {
          .products .row .col ul li {
            text-align: center; } }
        .products .row .col ul li::before {
          background-image: url("../assets/Icons/Path@2x.png");
          background-size: 15px;
          background-position: center;
          background-repeat: no-repeat;
          display: inline-block;
          width: 30px;
          height: 10px;
          content: ""; }
      .products .row .col .buy {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 40%;
        padding-left: 60px;
        padding-top: 20px; }
        .products .row .col .buy h5 {
          flex: 2;
          font-size: 1.5rem;
          text-align: justify; }
          .products .row .col .buy h5 span {
            color: gray;
            font-weight: 300;
            font-size: 1rem; }
        .products .row .col .buy button {
          flex: 1;
          height: 40px;
          width: 30%;
          cursor: pointer;
          border: solid transparent;
          border-radius: 15px;
          background: rgba(251, 61, 61, 0.1);
          text-align: center;
          color: #FB3D3D;
          font-weight: 600; }
          .products .row .col .buy button:hover {
            background: #d3d3d3;
            transition: 0.4s ease; }
      .products .row .col h3 {
        padding-bottom: 20px; }

/*********************
contact
*********************/
.contact {
  background: #18191C;
  background-image: url(../assets/Img/contact-form-img.png);
  background-position: -170px 300px;
  background-repeat: no-repeat;
  background-size: auto;
  padding-top: 100px;
  padding-left: 100px;
  margin-bottom: 0;
  height: 100vh; }
  .contact .row {
    display: flex; }
    .contact .row .col {
      flex: 0 0 50%; }
    .contact .row .contact-text {
      padding-left: 50px;
      padding-top: 50px; }
      .contact .row .contact-text h2 {
        font-size: 3rem;
        color: white;
        line-height: 60px; }
        @media (max-width: 768px) {
          .contact .row .contact-text h2 {
            font-size: 1.5rem; } }
  .contact .contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #011F05;
    width: 80%;
    margin-right: 180px;
    padding: 50px; }
    @media (max-width: 768px) {
      .contact .contact-form form {
        width: 100%; } }
    .contact .contact-form form input, .contact .contact-form form textarea {
      width: 80%;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      margin-right: 50px;
      background: rgba(128, 128, 128, 0.2); }
    .contact .contact-form form button {
      width: 40%;
      padding: 20px;
      font-size: 1.2rem;
      font-weight: 300;
      font-family: 'Roboto Condensed';
      letter-spacing: 1px;
      color: #fff;
      border: 1px solid #fff;
      background: rgba(128, 128, 128, 0.2);
      text-transform: uppercase;
      margin: auto; }
      @media (max-width: 768px) {
        .contact .contact-form form button {
          padding: 20px; } }

/*********************
footer
*********************/
footer {
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  color: gray;
  padding-left: 150px;
  padding-right: 40px; }
  footer a {
    color: gray;
    text-decoration: none; }
    @media (max-width: 768px) {
      footer a {
        font-size: 0.8rem; } }
    footer a:hover {
      color: #FB3D3D;
      transition: 0.4s ease; }

/*# sourceMappingURL=style.css.map */
